@{
    ViewBag.Title = "What is this?";
    ViewBag.Message = "This is a WebSite that I built for learning purposes using ASP.NET.";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Feel free to see this and more in my Github: https://github.com/Luisotee. <br />Thank you for your time.</p>
