
@{
    ViewBag.Title = "BuyPageCell";
}

<link href="~/Content/BuyPageNote.css" rel="stylesheet" type="text/css" />

<header>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <div id="top">
        <h1 style="display: inline; text-align: left;">Easy Buy</h1>
        <div id="Search">
            <input class="input" placeholder="Search Here" />
            <button class="search-btn">Search</button>
        </div>
    </div>
    <div id="Tittle">
        <br /><h2>Samsung Galaxy S7 Edge display 5,5", 4G LTE, 32 GB 12MP Camera - SM-G935F</h2>
              <span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque risus eros, sollicitudin vel dapibus vel, facilisis vel libero. Sed ultricies dui sed nisl tincidunt, pretium varius tortor convallis. Morbi quam ex, tempor ut sapien a, vestibulum scelerisque elit. Donec facilisis felis ac velit malesuada elementum. Cras mollis ultrices mauris, et tristique libero. Maecenas semper, nulla eu posuere commodo, sem ligula tempor dolor, ut faucibus turpis ipsum eu metus. Nulla blandit lobortis faucibus.

                  Nulla ac sapien eget lectus lobortis tincidunt. Mauris ac suscipit augue. Curabitur ac fermentum nunc. Sed dignissim nisi at est lobortis sodales. Integer vel purus at diam vulputate auctor in vel mi. Sed suscipit nullam.
              </span>
    </div>
</header>

<section id="Body">
    <div id="Center">
        <img src="~/Models/product07.png" alt="Sample Photo" />
    </div>
    <div id="Right">
        <h2 style="color: green;">US$300,00</h2>
        <p>
            <ul>
                <li>Waterproof</li>
                <li>Edge Display</li>
                <li>Snapdragon Octa Core 820</li>
                <li>4GB RAM</li>
                <li>Battery of 3600mAH</li>
                <li>Excelent quality 12MP Camera</li>
            </ul>
            <div id="BuyButton">
                <big>BUY</big>
            </div>
        </p>
    </div>
</section>

<script src="~/Scripts/ScriptBuyPageItem1.js" language="javascript" type="text/javascript"></script>

