
@{
    ViewBag.Title = "BuyPageNote";
}

<link href="~/Content/BuyPageNote.css" rel="stylesheet" type="text/css" />

<header>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <div id="top">
        <h1 style="display: inline; text-align: left;">Easy Buy</h1>
        <div id="Search">
            <input class="input" placeholder="Search Here" />
            <button class="search-btn">Search</button>
        </div>
    </div>
    <div id="Tittle">
        <br /><h2>MacBook Pro Apple, Intel® Core™ i5, 8GB, HD 128GB, Tela de 13", Cinza Espacial - MUHN2BZ/A</h2>
        <span>
            MacBook Pro Mais poderoso. Mais rápido. Mais Pro.  O MacBook Pro leva o notebook para outro patamar de eficiência e mobilidade. Com recursos como processadores e memória de alto desempenho, chips gráficos avançados e armazenamento ultrarrápido, todas as suas ideias ganham fôlego para ir muito mais longe. A Touch Bar substitui as teclas de função na parte superior do teclado por algo bem mais versátil. Ela mostra automaticamente as ferramentas mais relevantes para o que você está fazendo e permite ajustar volume e brilho, interagir com o conteúdo na tela, acessar recursos inteligentes de digitação, como emojis e texto preditivo, e muito mais. A tela Retina do MacBook Pro é a melhor tela que um notebook Mac já teve.
        </span>
    </div>
</header>

<section id="Body">
    <div id="Center">
        <img src="~/Models/Note.jpg" alt="Sample Photo" />
    </div>
    <div id="Right">
        <h2 style="color: green;">US$1.200,00</h2>  
        <p>
            <ul>
                <li>Quad-core 8th-Generation Intel Core i5 Processor</li>
                <li>Brilliant Retina Display with True Tone technology</li>
                <li>Touch Bar and Touch ID</li>
                <li>Intel Iris Plus Graphics 645</li>
                <li>Ultrafast SSD</li>
                <li>Two Thunderbolt 3 (USB-C) ports</li>
                <li>Up to 10 hours of battery life</li>
                <li>802.11AC Wi-Fi</li>
                <li>Latest Apple-designed keyboard</li>
                <li>Force touch trackpad</li>
            </ul>
            <div id="BuyButton">
                <big>BUY</big>
            </div>
        </p>
    </div>
</section>

<script src="~/Scripts/ScriptBuyPageItem1.js" language="javascript" type="text/javascript"></script>

