
@{
    ViewBag.Title = "Login";
}

    <link href="~/Content/Login.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<section class="LoginPart">
    <div id="Upper">
        <h2>Login</h2>
    </div>
    <div id="UserInfo">
        <p>
            <br /><span>UserName <input type="text" /></span>
            <br /><br /><span>Password <input type="password" /></span>
        </p>
    </div>
    <div id="LoginButton">
        <br /><input type="button" value="Login"/>
    </div>
    <div id="Register">
        <p>
            <br />Or register here <input type="button" value="REGISTER" />
        </p>
    </div>
</section>

<script src="~/Scripts/Login.js" language="javascript" type="text/javascript"></script>